<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  </head>
  <style>
    body {
			font-family: 'Raleway', sans-serif;
			background-color: lightgray;
    }
		#head {
      color: darkblue;
      margin-top: 5%;
          }
    #log {
      margin: 15px;
    }
  </style>
	<body>
      <a href="/account/logout">Log out</a>
      </p>
    <form id="log" method="POST">
      <h1 id="head">Please Join a Space</h1>
      <div class="form-group">
        <label for="username" class="col-sm-4">Space name</label>
        <div class="col-sm-4">
          <input type="text" name="roomName" class="form-control" id="username" >
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="col-sm-4">Space Code</label>
        <div class="col-sm-4">
          <input type="password" name="password" class="form-control" id="password" >
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <p >If you want to create a space, please click <a href="\space\createSpace">here</a></p>
    </form>
	</body>
</html>
